* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100vw;
  position: relative;
  background: #efeeea;
  color: #1c273e;
}

button {
  cursor: pointer;
}

.todo-app {
  width: 100vw;
  margin: 0 auto;
  display: flex;
}

/* nav(left) */
.todo-nav {
  width: 30%;
}

.todo-nav-filter {
  width: 100%;
  margin-bottom: 2rem;
}

.todo-filter-item {
  list-style: none;
  cursor: pointer;
  padding: .5rem 3rem;
  border-bottom: 1px solid rgba(112, 112, 112, 0.384);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.1rem;
  transition: all .3s;
}

.todo-filter-item:hover {
  background: #1c273e;
  color: #fff
}

.todo-filter-item i,
.todo-filter-item p {
  pointer-events: none;
}

.todo-filter-item i {
  margin-right: .5rem;
}



/* main(right) */
.todo-main {
  width: 70%;
  height: 100vh;
  padding: 1rem 2rem;
  border-left: 1px solid rgba(112, 112, 112, 0.384);
}

.head {
  margin:  1rem 0 2rem 0;
}

.input-form {
  width: 85%;
  display: flex;
  align-items: center;
}

.input,
.modal-input {
  margin-right: 1rem;
  padding: .2rem;
  font-size: 1.2rem;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(54, 49, 49, 0.384);
  background: transparent;
  color: #1c273e;
}   

.input-bottom {
  display: flex;
}

.priority-check-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}

.priority-check-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: .5rem;
}

.high {
  color: rgb(184, 39, 39);
}

.medium {
  color: rgb(15, 80, 15);
}

.low {
  color: rgb(41, 41, 128);
}

.input-btn-area {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  font-size: 1.1rem;
  padding: 0.3rem .6rem;
  transition: all .2s;
  border-radius: 2px;
  border: solid 1px #1c273e;
  margin-right: .4rem;
}

.btn:hover {
  background: #1c273e;
  color: #fff;
}

.todo-container {
  width: 60%;
  margin-top: 1rem;
}

.todo-item {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all .5;
}

.todo-item-info,
.todo-item-icons {
  display: flex;
  align-items: center;
}

.todo-check {
  margin-right: .4rem;
}

.todo-ttl {
  font-size: 1.2rem;
  font-weight: 550;
}

.todo-item-icons i {
  cursor: pointer;
  margin-left: .2rem;
}

.checkbox {
  margin-right: 1rem;
}

.completed {
  text-decoration: line-through;
  opacity: .6;
}

.stared {
  color: yellow;
}


/* modal */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40vw;
  height: 25vh;
  text-align: center;
  background: rgba(255, 255, 255, 0.932);
  display: none;
  opacity: 0;
}

.open {
  display: block;
  opacity: 1;
}

.modal h4 {
  margin: 1rem 0;
}

.modal-btn-container,
.modal-input {
  width: 70%;
  margin: .4rem auto;
}

.modal-btn {
  float: right;
  font-size: 1rem;
  padding: 0.2rem .4rem;
  transition: all .2s;
  border-radius: 2px;
  border: solid 1px #1c273e;
}

.modal-btn:hover {
  background: #1c273e;
  color: #fff
}

.modal-close {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}



@media screen and (max-width: 1024px) {
  .input-form {
      flex-direction: column;
  }

  .input {
      margin-right: 0;
  }
  
  .input-bottom {
      width: 100%;
      margin: 1rem 0;
      justify-content: flex-start;
  }
}

@media screen and (max-width: 768px) {
  @media (orientation: landscape){
    .modal {
      height: 50vh;
    }
  }
}




@media screen and (max-width: 425px){
  .todo-app {
      flex-direction: column;
  }

  .todo-nav {
      width: 100%;
  }

  .todo-main {
      width: 100%;
      padding: 1rem;
      border-left: none;
  }

  .input-form {
      width: 100%;
  }

  .todo-container {
      width: 100%;
  }
  
  .modal {
      width: 90vw;
      top: 63%;
  }

  .modal-btn-container,
  .modal-input {
      width: 80vw; 
  }

  @media (orientation: landscape){
    .modal {
      top: 250;
     
    }
  }
}